{% extends "_base.html" %}
{% load i18n %}
{% block content %}
<div class="table-header">
    <div class="flex flex-wrap">
        <form class="table-search relative w-1/2">
            <i data-feather="search" class="absolute"></i>
            <input type="search" placeholder="{% trans 'Search' %}" class="h-full pl-10 pr-4 rounded shadow">
        </form>
        <div class="w-1/2 flex flex-wrap justify-end">
            <a href="{% url 'new_upload_file' document_id='0' region_slug=region.slug %}" class="bg-blue-500 hover:bg-blue-600 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline">
	            {% trans 'Upload File' %}
            </a>
        </div>
    </div>
</div>

<div class="grid grid-cols-5 gap-4 p-2">

    {% for obj in documents %}
        <div class="p-2">
            <img src="/{{thumbnails[obj.id]}}" />
            {{ obj.path }}
            {{ obj.uploaded_at}}
        </div>
    {% endfor %}

</div>
{% endblock %}